<div class = "panel panel-info">
<div class = "panel-heading">Show Article Information</div>
  <div class = "panel-body">
    <div class = "col-md-2">
      Title : 
    </div>
    <div class = "col-md-10">
      <%= @article.title%>
    </div>
    
    <div class = "col-md-2">
      Description :
    </div>
    
    <div class = "col-md-10">
      <%= @article.description%>
    </div>
    <div class = "row"><center>[<%= link_to "Article List", articles_path %>]</center></div>
    <div class = "row"><center>[<%= link_to  "Edit Article", edit_article_path(@article.id) %>]</center></div>
  </div>
</div>