<!DOCTYPE html>
<html>
<head>
<title>Home</title>
</head>

<body>
  <h2>This is home page</h2>
  <%= link_to 'About', pages_about_path %>|
  <%= link_to '>> Go to Alpha-Blog', articles_path %>
</body>

</html>