<div class = "container">
  <footer class = "footer" >
    <small>
      Copyright &copy <a href = "newaz.sharif@hotmail.com">Newaz Sharif</a>
    </small>
    <p>Hope I will be a great rails developer</p>
  </footer>
</div>